.navColor {
  background: rgb(114 26 227) !important;
  box-shadow: none !important;
}
.navColor1 {
  background: rgb(255, 205, 0) !important;
  box-shadow: none !important;
}
.navColor2 {
  background: firebrick !important;
  box-shadow: none !important;
}
.navColor3 {
  background: rgb(255, 0, 0) !important;
  box-shadow: none !important;
}
.navColor4 {
  background: rgb(86, 137, 192) !important;
  box-shadow: none !important;
}
.navColor5 {
  background: rgb(128, 0, 128) !important;
  box-shadow: none !important;
}
.navColor6 {
  background: rgb(114 26 227) !important;
  box-shadow: none !important;
}
